<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>Add Employer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add_employer.css') }}">
</head>
<body>
    <h1>Add Employer</h1>
    <form method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="lastname">Lastname:</label>
            <input type="text" id="lastname" name="lastname" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="date_of_birth">Date of Birth:</label>
            <input type="date" id="date_of_birth" name="date_of_birth" required>
        </div>
        <div>
            <input type="submit" value="Send">
        </div>
    </form>
</body>
</html>
